<div class="container">
    <div class="section">
      <div class="header">

        <h1>Welcome to SerVii</h1>
        <h3>The Best Service Booking Agency in Your Town</h3>
        <p>Choose your user type to get started:</p>
      </div>
  
      <div class="buttons">
        <button mat-raised-button color="primary" routerLink="/register_company">
          Register as a Company
        </button>
  
        <button mat-raised-button color="accent" routerLink="/register_Clint">
          Register as a Clint
        </button>

        
      </div>
    </div>
  </div>
  