.bg {
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .child {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .ad-container {
    display: flex;
    align-items: center;
  }
  
  .ad-image {
    margin-right: 20px;
  }
  
  .ad-details {
    flex: 1;
  }
  
  .price-description {
    margin: 10px 0;
  }
  
  .action-buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  button {
    margin-left: 10px;
  }
  
  h5 {
    color: #555;
    font-size: 16px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    color: #108ee9;
  }
  
  h2:hover {
    text-decoration: underline;
  }
  